PORT=port
DATABASE_URL=postgresql://postgres_username:password@localhost:5432/db-name
JWT_SECRET=your-jwt-secret
BASE_URL=backend-url
NODE_ENV=node_enviromenet-production-or-dev
ALLOWED_ORIGINS=allowed-origins